<!-- Page Footer-->
<footer class="section footer-minimal context-dark">
    <div class="container wow-outer">
      <div class="wow fadeIn">
        <div class="row row-60">
          <div class="col-12"><!-- <a href="index.html"><img src="/assets/images/logo-default1-140x57.png" alt="" width="140" height="57" srcset="images/logo-default-280x113.png 2x"/></a>--></div>
          <div class="col-12">
            <ul class="footer-minimal-nav">
              <li><a href="#l">Menu</a></li>
              <li><a href="#l">Blog</a></li>
              <li><a href="#l">Contactos</a></li>
              <li><a href="#l">Galleria</a></li>
              <li><a href="#l">Sobre</a></li>
            </ul>
          </div>
          <div class="col-12">
            <ul class="social-list">
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#l"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#l"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#l"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="#l"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" href="#l"></a></li>
            </ul>
          </div>
        </div>
        <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span class=" btn-outline-success"> Associação Casa Companheira - </span><span>.&nbsp;</span><span>Todos Direitos Reservados.</span><span>&nbsp;</span></p>
      </div>
    </div>
  </footer>