
  <section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
    <div class="main-bunner-img" style="background-image: url(../assets/../assets/images/11.jpg); background-size: cover;"></div>
    <div class="main-bunner-inner">
      <div class="container">
        <div class="box-default">
          <em><br><h1 class="">Benefícios</h1><br><h3>Excelectes</h3></em>
          <div class="alert alert-warning" role="alert">
            Associação Casa Companheiro - A.C.C
          </div>
          <div class="box-default-decor"></div>
          <p class="big box-default-text">Servir o cidadão proporcionando-o a dignidade humana.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-lg bg-gray-1">
    <div class="container">
      <div class="row row-50">
        
        <div class="col-lg-6">
          <h2>Seus Benefícios</h2>
          <div class="text-with-divider">
            <div class="divider"></div>
            <h4>We offer the best Italian dishes in a friendly and calm atmosphere.</h4>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</p>
        </div>
        <div class="col-lg-6 pr-xl-5"><img class="img-thumbnail" src="../assets/../assets/images/23.jpg" alt="" width="518" height="434"/>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-white">
    <div class="container">
      <h2 class="text-center">Porquê Escolher-nos ?</h2>
      <div class="row row-30 row-md-60">
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class="icon-xl restaurant-icon-30"></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:green">Registo De Nascimento / Bilhete De Identidade</a></h4>
              <p>Proporcionar o cidadão o direito a identidade e cidadania angolana.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class="icon-xl restaurant-icon-11"></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:green">Formação Profissional</a></h4>
              <p>Dotar o cidadão de capacidades, habilidades e competências técnicas para um mercado de trabalho cada vez mais exigente e desafiador.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class="icon-xl restaurant-icon-36"></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:green">Formação Académica</a></h4>
              <p>Colaborar na realização de um desejo pessoal do cidadão.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class="icon-xl restaurant-icon-27"></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:green">Emprego</a></h4>
              <p>intermediar junto dos parceiros socias para a realização Profissional do jovem por meio do emprego ou empreendedorismo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class="icon-xl restaurant-icon-34"></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:green">Patrocínio Judicial</a></h4>
              <p>Apoiar o jovem associado, em matéria de âmbito judicial, quando em conflito com a lei, através de Departamento Jurídico ou Parceiro da A.C.C .</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class="icon-xl restaurant-icon-26"></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:green">Patrocínio de Consultoria Contabilística e Fiscal</a></h4>
              <p>Consiste em proporcionar o apoio contabilístico e fiscal, ao Associado, Particular, ou Pessoa Colectiva na constituição de empresa, criação de cooperativas e Processo Fiscal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
